{%extends "index.html"%}
{%block content%}
<article>
<h1>Crusade</h1>
</article>

<div class="faction">
    <h2>Defenders</h2>
</div>

<div class="faction">
    <h2>Invaders</h2>
</div>

<div class="faction">
    <h2>Raiders</h2>
</div>

<div class="points">
    <p>Hotsku {{hotskuPoints}}</p>
</div>

<div class="points">
    <p>Kyksä {{kyksaPoints}}</p>
    <p>Hagne {{hagnePoints}}</p>
</div>

<div class="points">
    <p>Joni {{joniPoints}}</p>
    <p>Kokseli {{kokseliPoints}}</p>
</div>

<article style="width: 50%;">
    <h2>Story so far...</h2>
</article>
{%endblock%}